In [5]:
!pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (3.11.4)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (1.59.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (2.12.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (2.6.0)
Requirement already satisfied: packaging>=20.0.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (23.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (4.24.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-cloud-bigquery) (2.31.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.60.0)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.23.2)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.59.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2023.7.22)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in d:\cursos\fiap_pós\gp27_techchallenge_3\.venv\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.5.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
!pip freeze > ..//requirements.txt

In [1]:
from _spark import get_spark, _display
from transformations import transform
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.inspection import permutation_importance

import pyspark.sql.functions as f
import pyspark.sql.types as t
import os
import findspark
import pandas as pd

findspark.init()

spark = get_spark()

## BigQuery links

- [BigQuery Table](https://console.cloud.google.com/bigquery?hl=pt-br&project=fiap-tech-challenge-3&ws=!1m0)
- [Storage](https://console.cloud.google.com/storage/browser/tech-challenge;tab=configuration?hl=pt-br&project=fiap-tech-challenge-3&prefix=&forceOnObjectsSortingFiltering=false)
- [IAM e admin](https://console.cloud.google.com/iam-admin/iam?hl=pt-br&project=fiap-tech-challenge-3)

### Refined Data

#### Fato

In [2]:
table_name = "fiap-tech-challenge-3.refined_pnad.tb_f_covid_2020"
df = spark.read \
    .format("bigquery") \
    .option("table", table_name) \
    .load()

_display(df\
            .groupBy('resultado_covid')\
            .agg(f.count('uf'))
            )

  resultado_covid  count(uf)
0               3        293
1            None    1488952
2               9        644
3               1     100845
4               4       1762

### Trusted Data

#### Fato

In [63]:
table_name = "fiap-tech-challenge-3.trusted_pnad.tb_f_covid_2020"
df = spark.read \
    .format("bigquery") \
    .option("table", table_name) \
    .load()
    
_display(df\
            .groupBy('resultado_covid')\
            .agg(f.count('uf'))
            )

  resultado_covid  count(uf)
0              NA    1490714
1        Ignorado        644
2             Sim     100845
3        Não sabe        293
4            Não      327387

In [64]:
# Manter apenas sim/nao
# df = df.filter(f.col('resultado_covid').isin(['Sim','Não']))

# Remover NA
for col in df.columns:
    df = df.withColumn(col, f.when(f.col(col).isin(['NA','Não sabe','Ignorado']), None).otherwise(f.col(col)))
_display(df\
        .groupBy('resultado_covid')\
        .agg(f.count('uf'))
        )

  resultado_covid  count(uf)
0            None    1491651
1             Sim     100845
2            Não      327387

In [65]:
df = df.select(['uf', 'area_domicilio', 'sexo', 'cor_raca', 'escolaridade',
                'teve_dificuldade_respirar', 'teve_dor_cabeca',
                'teve_fadiga', 'teve_perda_cheiro', 'ficou_em_casa',
                'resultado_covid',])
df = df.toPandas()

In [66]:
df.isna().sum()

uf                                 0
area_domicilio                     0
sexo                               0
cor_raca                         474
escolaridade                       0
teve_dificuldade_respirar       8372
teve_dor_cabeca                 8492
teve_fadiga                     8500
teve_perda_cheiro              10256
ficou_em_casa                1480173
resultado_covid              1491651
dtype: int64

In [67]:
# dropando na (menos de 10% da base)
df = df.dropna()
df.isna().sum()

uf                           0
area_domicilio               0
sexo                         0
cor_raca                     0
escolaridade                 0
teve_dificuldade_respirar    0
teve_dor_cabeca              0
teve_fadiga                  0
teve_perda_cheiro            0
ficou_em_casa                0
resultado_covid              0
dtype: int64

In [68]:
df.shape

(381497, 11)

In [69]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

pipeline = Pipeline(
    steps = [
        ('one-hot', OneHotEncoder(handle_unknown='infrequent_if_exist')),
        ('model',RandomForestClassifier(random_state=42))
    ]
)

X = df.drop(columns={'resultado_covid'})
y = df[['resultado_covid']]

In [70]:
y.value_counts() # fazer undersampling

resultado_covid
Não                293935
Sim                 87562
Name: count, dtype: int64

In [71]:

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)
pipeline.fit(X_train, y_train)

Pipeline(steps=[('one-hot',
                 OneHotEncoder(handle_unknown='infrequent_if_exist')),
                ('model', RandomForestClassifier(random_state=42))])

In [72]:
model = pipeline['model']

In [73]:
y_pred = pipeline.predict(X_test)

In [74]:
y_test['resultado_covid'].values

array(['Não ', 'Não ', 'Não ', ..., 'Não ', 'Sim', 'Não '], dtype=object)

In [75]:
pd.DataFrame([y_test['resultado_covid'].values, y_pred]).T.value_counts()

0     1
Não   Não     69963
Sim   Não     15551
      Sim      6340
Não   Sim      3521
Name: count, dtype: int64

In [76]:
from sklearn.inspection import permutation_importance

result = permutation_importance(
    pipeline, X_test, y_test, n_repeats=10, random_state=42, n_jobs=2
)

forest_importances = pd.Series(result.importances_mean, index=X.columns)

In [77]:
forest_importances

uf                           0.010323
area_domicilio               0.004917
sexo                        -0.000124
cor_raca                     0.003639
escolaridade                 0.058604
teve_dificuldade_respirar    0.000370
teve_dor_cabeca              0.000558
teve_fadiga                  0.000118
teve_perda_cheiro            0.000720
ficou_em_casa                0.000651
dtype: float64

In [80]:
pd.DataFrame([model.feature_importances_, X.columns]).T

           0                          1
0   0.008857                         uf
1   0.007405             area_domicilio
2   0.004652                       sexo
3   0.006992                   cor_raca
4   0.004547               escolaridade
5   0.005949  teve_dificuldade_respirar
6   0.004642            teve_dor_cabeca
7   0.006851                teve_fadiga
8   0.007244          teve_perda_cheiro
9   0.019328              ficou_em_casa
10  0.004946                        NaN
11  0.004118                        NaN
12  0.014224                        NaN
13  0.006652                        NaN
14  0.004348                        NaN
15  0.003662                        NaN
16  0.004784                        NaN
17   0.00282                        NaN
18   0.00346                        NaN
19  0.014377                        NaN
20   0.01044                        NaN
21  0.003474                        NaN
22  0.010322                        NaN
23  0.006449                        NaN
24  0.003064                        NaN
25   0.02657                        NaN
26  0.002783                        NaN
27  0.071488                        NaN
28  0.069232                        NaN
29  0.010958                        NaN
30  0.011081                        NaN
31  0.004713                        NaN
32   0.07521                        NaN
33  0.002123                        NaN
34  0.041744                        NaN
35    0.0091                        NaN
36  0.015457                        NaN
37  0.047165                        NaN
38  0.019811                        NaN
39  0.016012                        NaN
40  0.117485                        NaN
41  0.012889                        NaN
42  0.187084                        NaN
43   0.02041                        NaN
44  0.005796                        NaN
45  0.005928                        NaN
46  0.007591                        NaN
47   0.00771                        NaN
48   0.00402                        NaN
49  0.004027                        NaN
50  0.007682                        NaN
51  0.007739                        NaN
52  0.007262                        NaN
53  0.007321                        NaN